:root {
    --header-font: 'Playfair Display', serif;
    --text-font: 'Montserrat', sans-serif;
}

body, html {
    box-sizing: border-box;
}

.header-container {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-auto-flow: row;
    width: 90%;
    margin: 0 auto;
}

.header {
    grid-column: 2 / 3;
}

.title {
    font-family: var(--header-font);
    font-size: 2em;
    margin-bottom: 10px;
}

.description {
    font-family: var(--text-font);
    font-style: italic;
    max-width: 50vw;
    margin-bottom: 40px;
}

.banner {
    grid-column: 2/3;
}

img {
    width: 100%;
    border-radius: 12px;
}

.content-container {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-auto-flow: row;
    width: 90%;
    margin: 0 auto;
}

.sidebar {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 200px;
    height: 300px;
    position: absolute;
    right: 15%;
    margin-top: 25px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-content > p {
    margin: 0;
}

.ingredients-title {
    grid-column: 2;
    font-size: 1.5em;
    font-family: var(--header-font);
}

.ingredient-subtitle {
    font-family: var(--header-font);
    font-style: italic;
    grid-column: 2;
    margin-top: 25px;
    margin-bottom: 25px;
}

.ingredient {
    grid-column: 2;
    display: flex;
    align-items: baseline;
    font-family: var(--text-font);
    line-height: 25px;
    width: 65%;
}

.ingredient > p {
    margin-top: 0;
}

.checkbox {
    height: 21px;
    min-width: 21px;
    border: 1px solid #828282;
    border-radius: 4px;
    margin-right: 15px;
}

.steps {
    grid-column: 2/4;
    display: flex;
    align-items: flex-start;
    font-family: var(--text-font);
    line-height: 24px;
    margin-top: 25px;
    width: 75%;
}

.steps > p {
    align-self: flex-start;
    margin-top: 0;
}

.steps-box {
    font-family: var(--header-font);
    height: 36px;
    min-width: 36px;
    background-color: #F2994A;
    color: #FFFFFF;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    margin-right: 15px;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    .title {
        font-size: 1.5em;
    }
    img {
        min-width: 352px;
    }
    .description {
        max-width: 70vw;
    }
    .ingredients-title {
        font-size: 1em;
        margin-bottom: 0;
    }
    .ingredient-subtitle {
        margin-bottom: 10px;
    }
    .ingredient {
        font-size: 12px;
    }
    .checkbox {
        margin: 10px;
    }
}